.a {
    background-image: url('https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/ACOM-hp-september-Desktop-HeroSlim-BG?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=3200&hei=1264&qlt=100&fit=constrain');
    background-size: cover; 
    background-position: center; 
    width: 100%;
    height: 750px;
}
.slide-in {
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  }
  
  .slide-in-visible {
    opacity: 1;
    transform: translateY(0);
  }
  